.game-lobby-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
}

.game-lobby-container p {
    font-size: 20px;
}

.game-lobby-container h1 {
    font-size: 30px;
}

.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;


    margin: auto;
    width: 80%;
}